@charset "UTF-8";
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Next-Black";
  src: url("../fonts/SKODANext-Black.eot");
  src: local("☺"), url("../fonts/SKODANext-Black.woff") format("woff"), url("../fonts/SKODANext-Black.ttf") format("truetype"), url("../fonts/SKODANext-Black.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Gilroy";
  color: #000;
  font-size: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body.lock {
  overflow: hidden;
}
@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}
body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-track {
  background: #d4d4d4;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;
}
body::-webkit-scrollbar-thumb {
  background: #939393;
  border-radius: 8px;
  border: 3px solid #d4d4d4;
}
body::-webkit-scrollbar-thumb:hover {
  background: #7c7c7c;
}

input,
button,
textarea {
  font-family: "Gilroy";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 0 48px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 20px 0;
  background-color: #fff;
}
@media (min-width: 479.98px) {
  .header.active {
    background-color: #000;
  }
}
@media (max-width: 479.98px) {
  .header {
    background-color: #000;
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1452px) {
  .header__container {
    padding: 0 36px;
  }
}
@media (max-width: 767.98px) {
  .header__container {
    padding: 0 20px;
  }
}
.header__left {
  display: flex;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  flex: 0 0 200px;
  margin-right: 34px;
}
@media (max-width: 1452px) {
  .header__logo {
    flex: 0 0 165px;
  }
}
@media (min-width: 479.98px) {
  .header__logo.active {
    min-height: 29px;
    background: url(../images/header/logo-mobile.svg) center no-repeat;
    background-size: cover;
  }
  .header__logo.active img {
    display: none;
  }
}
.header__logo img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.header__logo::after {
  content: "";
  display: block;
  flex: 0 0 1px;
  margin-left: 17px;
  width: 1px;
  height: 30px;
  pointer-events: none;
  background-color: #c4c4c4;
}
@media (max-width: 767.98px) {
  .header__logo::after {
    display: none;
  }
}
.header__slogan {
  display: block;
}
@media (max-width: 767.98px) {
  .header__slogan {
    display: none;
  }
}
.header__right {
  display: flex;
  align-items: center;
}
.header__close {
  display: none;
}
@media (max-width: 1023.98px) {
  .header__close {
    display: block;
    position: absolute;
    top: 30px;
    right: 35px;
    z-index: 1;
    background: none;
    border: none;
  }
}
.header__menu {
  margin-right: 32px;
}
@media (min-width: 1452px) {
  .header__menu {
    margin-right: 18px;
  }
}
@media (max-width: 1023.98px) {
  .header__menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.5);
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s ease;
  }
  .header__menu::after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    border-radius: 38px 0px 0px 0px;
    background-color: #fff;
    display: block;
    width: 320px;
    height: 25px;
    opacity: 0;
    transform: translateX(200%);
    transition: transform 0.4s ease;
  }
}
@media (max-width: 1023.98px) and (max-width: 479.98px) {
  .header__menu::after {
    width: 250px;
  }
}
@media (max-width: 1023.98px) {
  .header__menu.active {
    opacity: 1;
    visibility: visible;
    z-index: 2000;
  }
  .header__menu.active::after {
    opacity: 1;
    transform: translateX(0%);
  }
}
@media (max-width: 1023.98px) {
  .header__menu-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 330px;
    padding: 64px 44px 44px;
    position: relative;
    background-color: #fff;
    border-radius: 32px 0px 0px 0px;
    transform: translateX(250%);
    transition: transform 0.3s ease;
    overflow: auto;
  }
  .header__menu-content.active {
    transform: translateX(0%);
  }
}
@media (max-width: 1023.98px) and (max-width: 479.98px) {
  .header__menu-content {
    padding: 64px 24px 24px;
    width: 260px;
  }
}
.header__menu-icon {
  display: none;
  width: 25px;
  flex: 0 0 25px;
  height: 23px;
  background: none;
  border: none;
  cursor: pointer;
}
.header__menu-icon span {
  display: block;
  margin-bottom: 6px;
  width: 100%;
  height: 3px;
  background-color: #000;
  border-radius: 15px;
  transition: transform 0.2s linear, opacity 0.2s linear;
}
.header__menu-icon span:nth-child(3) {
  width: 70%;
}
@media (max-width: 479.98px) {
  .header__menu-icon span {
    background-color: #fff;
  }
}
@media (min-width: 479.98px) {
  .header__menu-icon.active span {
    background-color: #fff;
  }
}
@media (max-width: 1023.98px) {
  .header__menu-icon {
    display: block;
  }
}
.header__list {
  display: flex;
  align-items: center;
}
.header__list > li {
  margin-right: 32px;
}
.header__list > li:last-child {
  margin-right: 0;
}
.header__list > li:nth-child(1) {
  position: relative;
}
@media (max-width: 1452px) {
  .header__list > li {
    margin-right: 18px;
  }
}
@media (max-width: 1023.98px) {
  .header__list > li {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
@media (max-width: 1023.98px) {
  .header__list {
    display: block;
    min-height: 250px;
    margin-bottom: 40px;
  }
}
.header__link {
  display: block;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  color: #575757;
  line-height: 24px;
  overflow: hidden;
  transition: background-color 0.3s ease;
}
@media (min-width: 1023.98px) {
  .header__link:hover {
    background-color: #e9e9e9;
  }
  .header__link:active {
    background-color: #b1adad;
  }
}
@media (max-width: 1023.98px) {
  .header__link {
    font-size: 24px;
  }
}
.header__link_leasing {
  position: relative;
}
.header__actions {
  padding-top: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}
@media (max-width: 1023.98px) {
  .header__btns {
    display: none;
  }
}
.header__btns_menu {
  display: none;
}
@media (max-width: 1023.98px) {
  .header__btns_menu {
    display: block;
    margin-top: auto;
  }
}
.header__btn {
  width: 100%;
}

.actions-header {
  display: flex;
  width: 250px;
  flex: 0 0 250px;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  border-radius: 15px;
  transform: translateY(50%);
  transition: all 0.3s linear;
}
.actions-header.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
}
.actions-header__list {
  width: 100%;
}
.actions-header__link {
  display: block;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 400;
  color: #111111;
  line-height: 21px;
  transition: background-color 0.3s ease;
}
@media (min-width: 1023.98px) {
  .actions-header__link:hover {
    background-color: #f1f1f1;
  }
}

.intro {
  padding-top: 100px;
  position: relative;
}
@media (max-width: 479.98px) {
  .intro {
    padding-top: 69px;
  }
}
@media (max-width: 767.98px) {
  .intro__container {
    padding: 0 36px;
  }
}
@media (max-width: 479.98px) {
  .intro__container {
    padding: 0;
    position: relative;
    z-index: 42;
  }
}
.intro__slider {
  border-radius: 32px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 479.98px) {
  .intro__slider {
    border-radius: 0px 0px 32px 32px;
  }
}

.calculator {
  padding: 80px 0;
}
@media (max-width: 479.98px) {
  .calculator {
    padding: 65px 0 47px;
  }
}
@media (max-width: 1023.98px) {
  .calculator__container {
    padding: 0 36px;
  }
}
@media (max-width: 479.98px) {
  .calculator__container {
    padding: 0 15px;
  }
}
.calculator__title {
  width: 100%;
  max-width: 750px;
  margin-bottom: 44px;
}
.calculator__content {
  display: flex;
  align-items: center;
  margin: 0 -15px 50px;
}
@media (max-width: 1452px) {
  .calculator__content {
    margin: 0 0 45px 0;
    display: block;
  }
}
.calculator__item {
  flex: 0 1 33.33333%;
  padding: 0 15px;
}
@media (max-width: 1452px) {
  .calculator__item {
    margin-bottom: 40px;
  }
  .calculator__item:last-child {
    margin-bottom: 0;
  }
}
.item-calculator__top {
  display: block;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
  color: #575757;
  line-height: 24px;
}
@media (min-width: 1452px) {
  .footer-calculator {
    display: flex;
  }
}
.footer-calculator__content {
  display: flex;
  margin-bottom: 44px;
}
@media (min-width: 1452px) {
  .footer-calculator__content {
    flex: 0 1 66.66666%;
  }
}
@media (max-width: 767.98px) {
  .footer-calculator__content {
    flex-direction: column;
  }
}
@media (max-width: 479.98px) {
  .footer-calculator__content {
    margin-bottom: 32px;
  }
}
.footer-calculator__item {
  flex: 0 1 50%;
}
@media (max-width: 767.98px) {
  .footer-calculator__item {
    flex: 0 0 100%;
    margin-bottom: 30px;
  }
  .footer-calculator__item:last-child {
    margin-bottom: 0;
  }
}
.footer-calculator__top {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  line-height: 24px;
}
.footer-calculator__bottom {
  display: block;
  font-family: "Next-Black";
  font-size: 54px;
  font-weight: 900;
  color: #333333;
  line-height: 62px;
}
@media (max-width: 767.98px) {
  .footer-calculator__bottom {
    font-size: 22px;
    line-height: 31px;
  }
}
@media (min-width: 1452px) {
  .footer-calculator__btns {
    flex: 0 1 33.33333%;
    padding-left: 30px;
  }
}
@media (max-width: 767.98px) {
  .footer-calculator__btns {
    text-align: center;
  }
}
@media (min-width: 1452px) {
  .footer-calculator__btn {
    width: 100%;
    max-width: none !important;
  }
}

.request-modal {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2000;
  overflow: hidden;
  transform: translateY(200%);
  transition: all 0.3s ease;
}
.request-modal.active {
  transform: translateY(0%);
}
.request-modal::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.5);
}
.request-modal__close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 48px;
  right: 48px;
  z-index: 1;
  background: #f3f3f4;
  border: none;
  border-radius: 50%;
  overflow: hidden;
}
@media (min-width: 1023.98px) {
  .request-modal__close:hover img {
    transform: rotate(90deg);
  }
}
@media (max-width: 767.98px) {
  .request-modal__close {
    width: 24px;
    height: 24px;
    top: 24px;
    right: 28px;
  }
}
.request-modal__close img {
  display: block;
  width: 15px;
  height: 15px;
  transition: transform 0.3s ease;
}
@media (max-width: 767.98px) {
  .request-modal__close img {
    width: 8px;
    height: 8px;
  }
}
.request-modal__content {
  position: relative;
  z-index: 42;
  width: 100%;
  height: 80%;
  padding: 140px 20px;
  background-color: #fff;
  border-radius: 32px 32px 0px 0px;
}
@media (min-width: 1452px) {
  .request-modal__content {
    padding: 80px 20px 140px;
  }
}
@media (max-width: 1023.98px) {
  .request-modal__content {
    overflow: auto;
  }
}
@media (max-width: 767.98px) {
  .request-modal__content {
    padding: 24px 20px;
  }
}
.request-modal__container {
  width: 100%;
  max-width: 656px;
  padding: 0;
}
.request-modal__top {
  margin-bottom: 44px;
}
@media (max-width: 767.98px) {
  .request-modal__top {
    margin-bottom: 32px;
  }
}
.request-modal__title {
  font-family: "Next-Black";
  font-size: 54px;
  font-weight: 900;
  color: #111111;
  display: block;
  margin-bottom: 24px;
}
@media (max-width: 767.98px) {
  .request-modal__title {
    margin-bottom: 16px;
    font-size: 22px;
    padding-right: 45px;
  }
}
.request-modal__text {
  display: block;
  width: 100%;
  max-width: 470px;
  font-size: 16px;
  font-weight: 400;
  color: #575757;
  line-height: 24px;
}
.request-modal__text p {
  margin-bottom: 12px;
}
.request-modal__text p:last-child {
  margin-bottom: 0;
}
@media (max-width: 767.98px) {
  .request-modal__text {
    font-size: 14px;
    line-height: 21px;
  }
}
.request-modal__main {
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .request-modal__main {
    margin-bottom: 30px;
  }
}
.request-modal__social {
  display: block;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.request-modal__social a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 48px;
  width: 48px;
  height: 48px;
  margin-right: 15px;
  border-radius: 50%;
  border: 2px solid #e7e7e7;
  transition: background-color 0.3s ease;
}
.request-modal__social a:last-child {
  margin-right: 0;
}
@media (min-width: 1023.98px) {
  .request-modal__social a:hover {
    background-color: #eeeded;
  }
}
.request-modal__social a img {
  display: block;
  width: 21px;
  height: 21px;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 12px 24px;
  min-width: 103px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  text-align: center;
  background: none;
  border-radius: 25px;
  cursor: pointer;
  transition: color 0.2s ease, background-color 0.2s ease;
}
.btn img {
  display: none;
  width: 21px;
  height: 21px;
}
.btn.load {
  font-size: 0;
}
.btn.load img {
  display: inline-block;
}
.btn_orange-outline {
  color: #ff9514;
  border: 1px solid #ff9514;
}
@media (min-width: 1023.98px) {
  .btn_orange-outline:hover {
    background-color: #ff9514;
    color: #fff;
  }
  .btn_orange-outline:active {
    background-color: #ffa83d;
  }
}
.btn_orange {
  color: #fff;
  background-color: #ff9514;
}
@media (min-width: 1023.98px) {
  .btn_orange:hover {
    background-color: #e9860e;
  }
}
.btn_orange:active {
  background-color: #cf7609;
}
.btn_orange:disabled {
  background: rgba(255, 149, 20, 0.4);
  cursor: not-allowed;
}
.btn_big {
  width: 100%;
  max-width: 345px;
  padding: 16px 24px;
  border-radius: 40px;
  font-family: "Next-Black";
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: 900;
  color: #ffffff;
  line-height: 36px;
}
@media (max-width: 479.98px) {
  .btn_big {
    font-size: 22px;
    line-height: 31px;
  }
}

.title {
  display: block;
  font-family: "Next-Black";
  font-size: 54px;
  font-weight: 900;
  line-height: 49px;
}
.title_white {
  color: #fff;
}
.title_black {
  color: #000;
}
@media (max-width: 767.98px) {
  .title {
    font-size: 42px;
    line-height: 43px;
  }
}
@media (max-width: 479.98px) {
  .title {
    font-size: 32px;
    line-height: 31px;
  }
}

.range {
  display: block;
  width: 100%;
  height: 70px;
  background-color: #f3f3f4;
  border: 2px solid #f3f3f4;
  border-radius: 16px;
  position: relative;
  transition: background-color 0.3s ease;
}
.range.active {
  background-color: #fff;
}
.range__value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  font-family: "Next-Black";
  font-size: 30px;
  font-weight: 900;
  color: #575757;
  line-height: 36px;
}
.range__value input {
  display: block;
  width: 100%;
  padding-right: 40px;
  background-color: #f3f3f4;
  border: none;
  font-size: 30px;
  font-weight: 900;
  color: #575757;
  line-height: 36px;
  transition: background-color 0.3s ease;
}
.range__value input.active {
  background-color: #fff;
}
@media (max-width: 767.98px) {
  .range__value input {
    font-size: 20px;
    line-height: 31px;
  }
}
@media (max-width: 767.98px) {
  .range__value {
    padding: 20px;
    font-size: 20px;
    line-height: 31px;
  }
}
.range__percent {
  flex: 0 0 55px;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
}
.range__slide {
  display: block;
  width: 95%;
  position: absolute;
  bottom: -5px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}
.range__slide input {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  background-color: #ff9514;
  outline: none;
}
.range__slide input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #ff9514;
  border-radius: 50%;
  cursor: pointer;
}
.range__slide input::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4caf50;
  cursor: pointer;
}

.form {
  display: block;
  width: 100%;
}
.form__items {
  display: flex;
  align-items: center;
  margin: 0 -15px 32px;
}
@media (max-width: 479.98px) {
  .form__items {
    flex-direction: column;
    margin: 0 0 8px;
  }
}
.form__item {
  display: block;
  flex: 0 1 50%;
  padding: 0 15px;
  position: relative;
}
.form__item::after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  opacity: 0;
  visibility: hidden;
  background: url(../images/modals/complete.svg) center no-repeat;
  border-radius: 8px;
  background-color: #77de8d;
  position: absolute;
  top: 50%;
  right: 25px;
  z-index: 1;
  transform: translateY(-50%);
  transition: all 0.3 ease;
}
.form__item_tel::before {
  content: "(921) 123 45 67";
  position: absolute;
  top: 52%;
  left: 65px;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform: translateY(-25%);
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: rgba(17, 17, 17, 0.5);
}
@media (min-width: 1452px) {
  .form__item_tel::before {
    left: 65px;
  }
}
@media (max-width: 479.98px) {
  .form__item_tel::before {
    left: 45px;
  }
}
.form__item.hide::before {
  display: none;
}
.form__item._complite::after {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 479.98px) {
  .form__item {
    flex: 1 1 100%;
    padding: 0;
    width: 100%;
    margin-bottom: 8px;
  }
}
.form__input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 12px 40px 12px 24px;
  border-radius: 16px;
  border: 1px solid transparent;
  background-color: #f3f3f4;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  color: #575757;
  line-height: 24px;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}
@media (min-width: 1023.98px) {
  .form__input:hover {
    background-color: #eaeaeb;
  }
}
.form__input::placeholder {
  font-size: 16px;
  font-weight: 700;
  color: #575757;
}
.form__input:focus {
  border-color: #ff9514;
  background-color: #fff;
}
.form__input._error {
  border-color: red;
}
.form__footer {
  display: flex;
  align-items: center;
  padding: 25px;
  border: 2px solid #f3f3f4;
  border-radius: 16px;
}
@media (max-width: 767.98px) {
  .form__footer {
    padding: 15px;
  }
}
@media (max-width: 479.98px) {
  .form__footer {
    flex-direction: column;
    padding: 0;
    border: none;
  }
}
.form__text {
  flex: 1 1 auto;
  margin-right: 65px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(17, 17, 17, 0.5);
  line-height: 21px;
}
.form__text p {
  margin-bottom: 12px;
}
.form__text p:last-child {
  margin-bottom: 0;
}
.form__text a {
  color: #111111;
}
@media (min-width: 1023.98px) {
  .form__text a:hover {
    text-decoration: underline;
  }
}
@media (max-width: 767.98px) {
  .form__text {
    margin-right: 25px;
  }
}
@media (max-width: 479.98px) {
  .form__text {
    order: 2;
    text-align: center;
  }
}
.form__btn {
  flex: 0 0 175px;
}
@media (max-width: 479.98px) {
  .form__btn {
    width: 100%;
    flex: 1 1 100%;
    margin-bottom: 16px;
    order: 1;
  }
  .form__btn button {
    width: 100%;
  }
}

.error-text {
  display: none;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 400;
  color: #d53234;
  line-height: 24px;
}
.error-text.active {
  display: block;
}

.slider-intro__navigations {
  display: block;
  position: absolute;
  bottom: 45px;
  right: 45px;
  z-index: 1;
}
.slider-intro .navigations-intro {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .slider-intro .navigations-intro {
    display: none;
  }
}
.slider-intro .navigations-intro__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.3);
}
.slider-intro .navigations-intro__arrow_prev {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.slider-intro .navigations-intro__arrow_prev img {
  width: 10px;
  flex: 0 0 10px;
  height: 10px;
  display: block;
  transform: rotate(180deg);
}
.slider-intro .navigations-intro__arrow_next {
  width: 48px;
  height: 48px;
}
.slider-intro .navigations-intro__arrow_next img {
  width: 16px;
  height: 16px;
  flex: 0 0 16px;
  display: block;
}
.slider-intro__pagination {
  display: flex;
  align-items: center;
  font-size: 0;
  color: transparent;
  position: absolute;
  bottom: 45px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}
@media (max-width: 767.98px) {
  .slider-intro__pagination {
    bottom: 25px;
  }
}
.slider-intro__pagination .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  display: block;
  margin-right: 18px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.4);
  transition: all 0.3s ease;
}
.slider-intro__pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
.slider-intro__pagination .swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background-color: #fff;
}
.slider-intro__item {
  display: flex;
  width: 100%;
  height: 100%;
}

.item-slider-intro {
  display: flex;
  position: relative;
  background-color: #000;
  overflow: hidden;
}
.item-slider-intro__content {
  display: block;
  width: 100%;
  max-width: 620px;
  padding-right: 60px;
  padding: 70px 0px 70px 70px;
  position: relative;
  z-index: 42;
}
@media (max-width: 768px) {
  .item-slider-intro__content {
    padding: 45px 15px 70px 45px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
.item-slider-intro__title {
  margin-bottom: 32px;
}
.item-slider-intro__slogan {
  display: block;
  margin-bottom: 24px;
  font-family: "Next-Black";
  font-size: 30px;
  font-weight: 900;
  color: #ffffff;
  line-height: 36px;
}
@media (max-width: 768px) {
  .item-slider-intro__slogan {
    display: none;
  }
}
.item-slider-intro__img {
  display: block;
  width: 675px;
  height: 380px;
  position: absolute;
  bottom: 20px;
  right: 0;
  z-index: 1;
  pointer-events: none;
}
.item-slider-intro__img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
@media (max-width: 768px) {
  .item-slider-intro__img {
    width: 460px;
    height: 280px;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 479.98px) {
  .item-slider-intro__img {
    left: -215px;
    transform: translateX(0%);
  }
}