.intro {
  padding-top: 100px;

  position: relative;

  @media (max-width: $md4 + px) {
    padding-top: 69px;
  }

  &__container {
    @media (max-width: $md3 + px) {
      padding: 0 36px;
    }

    @media (max-width: $md4 + px) {
      padding: 0;

      position: relative;
      z-index: 42;
    }
  }

  &__slider {
    border-radius: 32px;

    overflow: hidden;

    position: relative;

    @media (max-width: $md4 + px) {
      border-radius: 0px 0px 32px 32px;
    }
  }
}
